html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif, Arial, Helvetica;
  margin: 0;
}

*,
*::after,
*::before {
  scroll-behavior: smooth;
  box-sizing: inherit;
  text-decoration: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

.fixed-image{
  position: fixed;
  filter: blur(.2rem);
  z-index: -1;
  width: 100vw;
  height: 100%;
}

header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 10vw;
  max-height: 10vw;
  background: linear-gradient(90deg, #00040e, #000a23);
}
.brand-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  max-height: 10vw;
}

.brand-img {
  width: 20vw;
  height: inherit;
  max-height: 10vw;
}

.brand-img-box {
  float: left;
}


.brand-text {
  display: block;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 5.5vw;
  font-style: italic;
  text-align: center;
  /*letter-spacing: .5rem;*/
  width: inherit;
  max-height: inherit;
}

.category-link {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.01rem;
  /*font-size: 3vw;*/
  font-style: italic;
  color: white;
}


.access-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 25vw;
  height: inherit;
  max-height: 20vh;
  padding-bottom: 2vw;
}

p {
  font-size: 0.6rem;
}

.access-box img {
  width: 2vw;
  height: 2vw;
  min-width: 3rem;
}

.nav-container ul {
  background-color: #00040e;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 2rem;
  min-height: 2rem;
  max-height: 4.5vh;
}

.nav-container li {
  font-size: 1.15rem;
  display: inline-block;
}

.slogan-container{
  box-sizing: content-box;
  padding: 1%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center ;
  position: absolute;
  top: 20vw;
  left:27vw;
  width: 45vw;
  height: 20vw;
  background-color: #000a2395;
  border-radius: 2vw;
  color: white;
  animation: zoomIn; 
  animation-duration: 1s; 
}

.slogan-text{
  color: #FFF;
  font-size: 3.5rem;
  /*font-weight: bold;*/
  font-style: italic;
  font-family: "Bebas Neue", sans-serif;
}

.slogan-text:first-child{
  align-self: flex-start;
  margin-left: 2rem;
}
.slogan-text:last-child{
  align-self: flex-end ;
  margin-right: 2rem;
}

.slides-container {
  width: 100%;
  height: calc(100vh - 2rem);
  margin-top: 2rem;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.slide {
  background-color: #0009;
  position: relative;
  width: 100vw;
  height: inherit;
  border-bottom: medium solid #FFF5;
  scroll-snap-align: center;
}



.slide-products-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.men-section-next-slide-container,
.men-section-previous-slide-container,
.women-section-next-slide-container,
.women-section-previous-slide-container,
.kids-section-next-slide-container,
.kids-section-previous-slide-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 2px solid grey;
  border-radius: 50%;
  background-color: lightgray;
}

.men-section-next-slide,
.men-section-previous-slide,
.women-section-next-slide,
.women-section-previous-slide,
.kids-section-next-slide,
.kids-section-previous-slide {
  width: 2rem;
  height: 2rem;
}

.men-section-previous-slide,
.women-section-previous-slide,
.kids-section-previous-slide{
  rotate: 180deg;
}

.men-section-next-slide-container:hover,
.men-section-previous-slide-container:hover,
.women-section-next-slide-container:hover,
.women-section-previous-slide-container:hover,
.kids-section-next-slide-container:hover,
.kids-section-previous-slide-container:hover{
  background-color: darkgrey;
}

.modal-help-button {
  opacity: 0;
  cursor: pointer;
  position: fixed;
  left: 1vw;
  bottom: 1vw;
  width: 2rem;
  height: 2rem;
  z-index: 10;
}
.modal-help-txt {
  background-color: #000a23;
  border-radius: 50%;
  position: fixed;
  left: 1vw;
  bottom: 1vw;
  width: 2rem;
  height: 2rem;
  z-index: 9;
}
.modal-help-txt img {
  width: 2rem;
  height: 2rem;
}
.help-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  height: 100vh;
  background-color: #0009;
  opacity: 0;
  pointer-events: none;
}
.modal-help-button:checked ~ .help-menu {
  transition: opacity 0.5s linear;
  opacity: 100;
  pointer-events: auto;
}

.form-container {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #00040e, #000a23);
  border: medium solid lightblue;
  border-radius: 5%;
  width: 90%;
  height: 68vh;
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: left;
  padding-left:2rem;
  width: 100%;
}

.contact-form * {
  display: block;
  margin-top: 0.8rem;
  width: 60%;
}

.contact-form > *::placeholder {
  color: rgb(87, 87, 87);
}

.contact-form > *[required]:invalid {
  border: 2px solid red;
}

.contact-form > *[required]:valid {
  border: 2px solid green;
}

.contact-form textarea {
  resize: none;
}
.contact-form input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.75;
}

.contact-form input[type="submit"] {
  width: 20%;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  color: #000;
}
.form-container h4 {
  margin-top: 1rem;
  font-size: 0.6rem;
  font-style: italic;
}

/*-------------START Cards Styles-----------------*/

.men-slide,
.women-slide,
.kids-slide {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  height: inherit;
}

.card-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 18vw;
  height: 36vw;
  border-radius: 1rem;
  border: 2px solid lightgray;
  overflow: hidden;
}

.card-container:hover {
  box-shadow: 0px 0px 20px #fff;
}

.add-cart-btn {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 2%;
  right: 2%;
  z-index: 2;
}

.add-cart-txt img {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 2%;
  right: 2%;
  width: 1.2rem;
  height: 1.2rem;
}
.add-like-btn {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 2%;
  right: 20%;
  z-index: 2;
}

.add-like-txt img {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 2%;
  right: 20%;
  width: 1.2rem;
  height: 1.2rem;
}

.card-image {
  margin: 0.5rem;
  height: 50%;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.card-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50%;
  padding: 0.5rem 0.5rem;
  border-top: 1px solid grey;
}

.card-info-tittle {
  text-align: center;
  width: inherit;
  height: 20%;
  color: grey;
}

.card-info-description {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: darkgray;
  width: inherit;
  height: 55%;
  overflow: hidden;
  border-bottom: 1px solid grey;
}

.card-info-price {
  display: block;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  width: inherit;
  height: 25%;
  margin-top: 5px;
}

.card-info-price::before {
  content: "$ ";
}

/*------------- END Cards Styles-----------------*/


/*-------------- Menu Dropdown para elegir USD o ARS -----*/
.dropbtn {
  background-color: rgb(0, 4, 14);
  color: white;
  border: none;
  height: 1.7rem;
  font-family: "Bebas Neue", Arial, Helvetica;
  font-style: italic;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
 /* impide que se centre dentro del nav */
 
/* .dropdown {
  float: fixed;
  overflow: hidden;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 100;
  top: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: rgb(0, 4, 14);}
/* ------------ Media Queries ---------------- */

/* Ppantallas pequeñas (teléfonos móviles) */

@media (max-width: 767px) {
  .access-box {
    width: 30vw;
  }
  .card-container {
    width: 35vw;
    max-height: 48%;
    min-height: 45%;
  }
  .card-info-description {
    font-size: 12px;
  }
  .card-info-price {
    font-size: 17px;
  }
  
}

/* Tipo tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    width: 25vw;
    max-height: 48%;
    min-height: 45%;
  }
  .card-info-description {
    font-size: 16px;
  }
  .card-info-price {
    font-size: 18px;
  }
}

/* Pantallas de escritorio estándar */
@media (min-width: 1024px) and (max-width: 1199px) {
  .category-link {
    font-size: 30px;
  }
  .card-container {
    width: 20vw;
    max-height: 48%;
    min-height: 45%;
  }
  .card-info-description {
    font-size: 18px;
  }
  .card-info-price {
    font-size: 20px;
  }
}

/* Pantallas más grandes */
@media (min-width: 1200px) {
  .category-link {
    font-size: 30px;
  }
  .card-container {
    width: 17vw;
    max-height: 45%;
    min-height: 40%;
  }
  .card-info-description {
    font-size: 18px;
  }
  .card-info-price {
    font-size: 25px;
  }
}

/* ------------------------------------------ */
/* .card-info-tittle {
  text-align: center;
  width: inherit;
  height: 20%;
  color: grey;
}

.card-info-description {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: darkgray;
  width: inherit;
  height: 55%;
  overflow: hidden;
  border-bottom: 1px solid grey;
}

.card-info-price {
  font-size: 100%;;
} */

.form-container h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5vw;
  font-style: italic;
  letter-spacing: 0.09rem;
}
.infoDolar{
  z-index: 100;
  display: flex;
  position: fixed;
  background-color: rgb(0, 8, 28);
  bottom:0vw;
  right:0vw;
}
.dolar-btn-style{
  font-size: 1.5vw;
}

.btnEnviar{
  font-family: "Bebas Neue", sans-serif;
  font-size: 2vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.form-container h4{
  font-family: system-ui;
  font-size: 1vw;
  font-style: italic;
  letter-spacing: 0.09rem;
}

.mapa{
  position:fixed;
  top:16vw;
  right:7vw;
}

#closeBtn{
  display: flex;
  position:fixed;
  right:10vw;
  top:10vw;
}


/*CSS
--Animacion de los botones del menu
*/


.position-relative{
  position: relative;
}
.anim-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.25rem;
  background-color: gray;
  transition: width 0.3s ease-in-out
}

.anim-bottom:hover::after {
  width: 100%;
}

@keyframes anim-slogan {
  0% {
  }
  50% {    
    background-color: #000a23;
    transform: scale(1.02);
  }
  100% {
  }
}


.slogan-container:hover {
  animation: anim-slogan 2s linear ;
}

.dropdown button:hover{
  color: gray;
  text-decoration: underline;
}

/*Footer*/

.slide-footer{
  background-color: #00040e !important ; 
  color: #fff;
  text-align: center;
  padding: 20px 0;
  height: 10vh;
}

/* footer {
  background-color: #00040e;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  height: 1200px;
} */

.footer_copy{
font-size: 12px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-categories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.footer-categories li {
  margin: 0 10px; 
}

.footer-categories a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-categories a:hover {
  color: gray;
}
